@using ProjectPrettyNails.Data
@model ProjectPrettyNails.Data.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Създай резервация</h1>

@*<h4>Reservation</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label">Услуга</label>
                <select asp-for="ServiceId" asp-items="@Html.GetEnumSelectList<TypeService>()" class="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            @*<div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="ReservatedOn" class="control-label">Дата на резервация</label>
                <input asp-for="ReservatedOn" class="form-control" />
                <span asp-validation-for="ReservatedOn" class="text-danger"></span>
            </div>
            <div class="container">
                <button type="submit" value="Create" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Резервирай</button>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Вие услешно направихте резервация!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
