@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <br /><br />
    <p>
        <img src="https://st.depositphotos.com/1518767/2414/i/600/depositphotos_24148541-stock-photo-collage-of-nail-salon-situations.jpg" style="width:99%;"/>
    </p>
</div>
